<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/uploadFile1" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" class="uploadFile" value="请选择文件">
    <button class="upload"  type="submit" >上传文件</button>
</form><br><br><br>
<form action="/uploadFileList" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFileList" value="请选择文件"><br>
    <input type="file" name="uploadFileList" value="请选择文件"><br>
    <input type="file" name="uploadFileList" value="请选择文件"><br>
    <button class="upload"  type="submit" >上传文件</button>
</form>

</body>
</html>